// Default Pipeline Parameters
params {
  data_tsv_file = "./input.tsv"
  data_rootdir = "."
  outdir      = "./results"
  genomev     = "hg38"
  snv_caller   = "caveman"
  indel_caller   = "pindel"
  cnv_caller   = "ascat"
  sv_caller   = "brass"
}

// Execution Profiles
profiles {

  // Profile 1: Local execution using binaries installed on host machine
  local {
    process.executor = 'local'
  }

  // Profile 2: Isolated containerized execution using Docker
  docker {
    docker.enabled       = true
    docker.runOptions    = '-u $(id -u):$(id -g)' // Ensures output files match your host user permissions
    
    // Define default docker image for processes
    process.container    = 'andreadega/signature-tools-pipeline:v1.0.0' 
  }
}

// General Process Resource Configurations
process {
    cpus   = 2
    memory = '6.GB'
}
